@import '../../var';

.mainButton {
    background-color:$mBlue;
    border:none;
    border-radius:10px;
    padding:0.7rem 1.7rem;
    color:white;
    text-transform:uppercase;
}

.mainButton:disabled {
    background-color:$lGray;
    color:grey;
}

.mainButtonRed {
    background-color:$sRed;
    border:none;
    border-radius:10px;
    padding:0.7rem 1.2em;
    color:white;
    text-transform:uppercase;
}


.mainButtonGrey {
    background-color:$gBlue;
    border:none;
    border-radius:10px;
    padding:0.7rem 1.2em;
    color:white;
    text-transform:uppercase;
}